[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "==1.2.1"
flask = "==3.0.3"
pipenv = "==2023.12.1"
pymongo = "*"
pytest = "==8.1.1"
python-dotenv = "==1.0.1"
requests = "==2.31.0"
opencv-python = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
